[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = HenryC-3
	email = 2324375439@qq.com
[core]
	excludesfile = /Users/henry/.gitignore_global
	editor = code --wait
	hooksPath = /Users/henry/HH-workspace/dotfile/git/hooks
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = code
[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED